
   <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title >
        <ion-row class="align-items: center">
          
          <ion-col>
            <div>
              <br>
            </div>
          </ion-col>
          <ion-col>
            <div>
              Santuy coffee
            </div>
          </ion-col>
          <ion-col>
            <div>
              <br>
            </div>
          </ion-col>
        
        </ion-row>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true" color="secondary">
    <ion-card color="primary">
      <ion-slides>
      <ion-slide>
        <div class="slide">
          <ion-card>
            <img src="../../assets/image/health-benefits-of-coffee-main_image_700_350.jpg" />
            <ion-card-header>
              
              <ion-card-title>Welcome</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Best coffe shop in the world <b>Santuy Coffe</b>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <img src="../../assets/image/coffe latte.jpg" />
          <ion-card-header>
            
            <ion-card-title>Best Art Latte</ion-card-title>
          </ion-card-header>

        </ion-card>
        
        
      </ion-slide>

      <ion-slide>
        <ion-card>
          <img src="../../assets/image/38356245336_6b439c3843_b.jpg" />
          <ion-card-header>
            
            <ion-card-title>Best Barista</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-slide>

      <ion-slide>
        <ion-card>
          <img src="../../assets/image/juszvm6acv89zeqw80vis72m40ctua7icqpercz8fqilp2v6kulnsygqblmpkhda-.jpg" />
          <ion-card-header>
            
            <ion-card-title>Best Roasted Bean coffe</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-slide>

    </ion-slides>
    </ion-card>
    <ion-row class="align-items: center">
      <ion-col>
        <div>
          <br>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="../../assets/image/Untitled-1.png"/>
          
        </div>
      </ion-col>
      <ion-col>
        <div>
          <br>
        </div>
      </ion-col>

    </ion-row>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <img src="../../assets/image/winn.jpg" />
            <ion-card-header>
              <ion-card-subtitle>News</ion-card-subtitle>
              <ion-card-title>Our Barista win a world tournamen barista</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Barista kami memenangkan tournamen tingkat di dunia yang di adakan pada tahun xxx yang pertempat di xxxx
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card>
            <img src="../../assets/image/cafe.jpg" />
            <ion-card-header>
              <ion-card-subtitle>News</ion-card-subtitle>
              <ion-card-title>Best cafe decoration of the month</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Memenangkan penghargan best cafe decoration 
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  
