<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
      <ion-row class="align-items: center">
        
        <ion-col>
          <div>
            <br>
          </div>
        </ion-col>
        <ion-col>
          <div>
            About US
          </div>
        </ion-col>
        <ion-col>
          <div>
            <br>
          </div>
        </ion-col>
      
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="secondary">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img src="../../assets/image/loc.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Location</ion-card-subtitle>
            <ion-card-title>Batam</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            1. Batam Centre jln xx no xx <br>
            2. Sagulung jln xx no xx<br>
            3. Bengkong jln xx no xx
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img src="../../assets/image/bar.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Our Story</ion-card-subtitle>
            <ion-card-title>History</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Sebuah tempat coffe yang di mulai merintis dari bawah pada tahun xxx, dengan pelayanan dan barista yang terus melayani dengan baik tempat ini terus berkembang dan akan terus melayani anda
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
